.view {
  background-color: var(--general-background-bot-part-color);
  height: calc(100vh - 56px);
  position: relative;
}

.top {
  background-color: var(--general-background-top-part-color);
}

.bot {
  background-color: var(--general-background-bot-part-color);
}

.subtitle {
  color: var(--general-text-color);
}

@media screen and (max-width: 767px) {
  .top {
    height: 38.5%;
    border-bottom-left-radius: 30%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bot {
    height: 61.5%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .topWrapper {
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    top: 86px;
  }

  .title {
    width: 183px;
    height: 46px;
    top: 86px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.153;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: 10px;
  }

  .auth {
    position: relative;
    top: -80px;
  }
}

@media screen and (min-width: 768px) {
  .top {
    height: 60%;
    border-bottom-left-radius: 20%;
  }

  .bot {
    height: 40%;
  }

  .topWrapper {
    position: relative;
    margin: 0 auto;
    max-width: 426px;
    width: 426px;
    top: 80px;
  }

  .title {
    width: 306px;
    height: 77px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    padding-left: 53px;
  }

  .auth {
    position: relative;
    top: -265px;
  }
}

@media screen and (min-width: 1280px) {
  .top {
    height: 73%;
    border-bottom-left-radius: 10%;
  }

  .bot {
    height: 27%;
  }

  .topWrapper {
    position: absolute;
    top: 308px;
    left: 229px;
  }

  .title {
    width: 377px;
    height: 120px;
  }

  .subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    padding-left: 53px;
  }

  .auth {
    position: absolute;
    top: 117px;
    right: 91px;
  }
}

@media screen and (min-width: 1400px) {
  .topWrapper {
    left: 289px;
  }

  .auth {
    right: 151px;
  }
}

@media screen and (min-width: 1600px) {
  .topWrapper {
    left: 389px;
  }

  .auth {
    right: 251px;
  }
}

/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (max-width: 767px) {
  .top {
    background-image: url('../../images/one-kapusta-top-of-bg-min.jpg');
  }
} */
