@media screen and (max-width: 767px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .wrapInput {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 258px;
    background-color: var(--trans-dropdown-border-color);
    border-bottom-left-radius: 30%;
  }

  .description {
    width: 280px;
    height: 44px;
    border-top-left-radius: 16px;
    font-size: 12px;
    line-height: 14px;
    text-align: start;
    background-color: transparent;
    padding-left: 30px;
    border: 2px solid var(--trans-dropdown-background-color);
  }

  .description::placeholder {
    font-weight: 400;
    color: var(--trans-form-input-placeholder-color);
  }
  .select {
    width: 280px;
    height: 44px;
    border: 2px solid var(--trans-dropdown-background-color);
    border-bottom-right-radius: 16px;
    color: var(--trans-form-input-placeholder-color);
  }

  .inputCountWrapper {
    position: relative;
    width: 183px;
  }

  .calculatorIcon {
    position: absolute;
    right: 30px;
    top: 44px;
  }

  .inputCount {
    width: 183px;
    height: 44px;
    border: 2px solid var(--trans-dropdown-background-color);
    padding-right: 55px;
    padding-left: 55px;
    border-radius: 22px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 32px;
    background-color: transparent;
  }

  .inputCount::placeholder {
    color: var(--general-header-color);
  }

  .dateWrapper {
    position: relative;
  }

  .calendarIcon {
    position: absolute;
    z-index: 2;
    left: -2px;
    top: 12px;
  }

  .datePicker {
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: var(--general-text-color);
    background-color: transparent;
    border: none;
    width: 110px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 9;
  }

  .datePicker:focus {
    outline-color: transparent;
  }

  .datePicker::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    z-index: 9;
    width: 110px;
    height: 44px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .btnInput {
    width: 130px;
    height: 44px;
    background: var(--general-accent-background-color);
    border: none;
    border-radius: 16px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--modal-background-color);
    box-shadow: 8px 2px 22px 0px rgba(0, 0, 0, 0.38);
    cursor: pointer;
  }

  .btnClear {
    width: 130px;
    height: 44px;
    background-color: transparent;
    border: 2px solid var(--trans-form-clear-button-border-color);
    border-radius: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--general-text-color);
    box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .buttonWrap {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 100%;
    margin: 0 auto;
    width: 624px;
    height: 44px;
  }

  .wrapInput {
    display: flex;
    align-items: center;
  }

  .dateWrapper {
    position: relative;
  }

  .calendarIcon {
    position: absolute;
    z-index: 2;
    left: -5px;
    top: 2px;
    cursor: pointer;
  }

  .datePicker {
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: var(--table-description-text-color);
    background-color: transparent;
    border: none;
    width: 90px;
    height: 100%;
    margin-right: 44px;
    text-align: end;
    position: relative;
    z-index: 9;
  }

  .datePicker:focus {
    outline-color: transparent;
  }

  .datePicker::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    z-index: 9;
    width: 90px;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .description {
    width: 184px;
    height: 44px;
    border: 2px solid var(--modal-button-border-color);
    border-top-left-radius: 16px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 19px;
    background-color: transparent;
    color: var(--table-description-text-color);
  }

  .description::placeholder {
    color: var(--trans-form-input-placeholder-color);
  }

  .select {
    width: 184px;
    height: 44px;
    margin-bottom: 0;
    border: 2px solid var(--modal-button-border-color);
  }

  .inputCountWrapper {
    position: relative;
    width: 110px;
  }

  .calculatorIcon {
    position: absolute;
    right: 16px;
    top: 12px;
  }

  .inputCount {
    width: 110px;
    height: 44px;
    padding-right: 45px;
    padding-left: 10px;
    border: 2px solid var(--modal-button-border-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: transparent;

    color: var(--table-description-text-color);
  }

  .btnInput {
    width: 125px;
    height: 44px;
    background: var(--general-accent-background-color);
    border: none;
    border-radius: 16px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--trans-background-color);
    box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .btnClear {
    width: 125px;
    height: 44px;
    background-color: transparent;

    border: 2px solid #f6f7fc;
    border-radius: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: var(--general-text-color);
    box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .buttonWrap {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .wrapInput {
    display: flex;
    align-items: center;
  }
  .datePicker {
    width: 104px;
    text-align: center;
  }

  .description {
    width: 238px;
  }
  .select {
    width: 169px;
  }

  .inputCountWrapper {
    position: relative;
    width: 121px;
  }

  .calculatorIcon {
    position: absolute;
    right: 17px;
    top: 12px;
  }

  .inputCount {
    width: 121px;
  }

  .btnInput {
    width: 136px;
  }

  .btnClear {
    width: 136px;
  }
  .buttonWrap {
    margin-left: 32px;
    margin-top: 0;
  }

  .inputWrap {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
