ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}
button {
  padding: 0;
}

.reportSection {
  min-height: 205px;
  padding-top: 32px;
  text-transform: uppercase;
}

.controls {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.arrowIcon {
  width: 6px;
  height: 12px;
}

.reportTypeTitle {
  margin: 0 25px;

  color: var(--general-header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.typeReportControlBtn {
  width: 15px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.categoryList {
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;

  text-align: center;
  overflow: hidden;
}

.categoryItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: max-content;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.categoryItem::before {
  display: block;
  width: 280px;
  height: 1px;
  position: absolute;
  right: -140px;
  bottom: -20px;
  background-color: var(--header-line-separator-color);
  content: '';
}

.categoryAmount {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--balance-balance-text-color);
}

.btnWrap {
  position: relative;
  height: 56px;
  max-width: 59px;
  margin-bottom: 8px;
  z-index: 1;
}

.categoryBtn {
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.categoryBtnEnter {
  composes: categoryBtn;
  color: var(--report-icon-fill);
}

.categoryBtnEnterActive {
  composes: categoryBtn;
  color: var(--report-icon-fill-active);
  transition: color 300ms ease-in-out;
}

.categoryBtnExit {
  composes: categoryBtn;
  color: var(--report-icon-fill-active);
}

.categoryBtnExitActive {
  composes: categoryBtn;
  color: var(--report-icon-fill);
  transition: color 300ms ease-in-out;
}

.rectangle {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 59px;
  height: 46px;
  border-radius: 20px;
  z-index: -1;
}

.rectangleEnterActive {
  composes: rectangle;
  background-color: var(--report-bg-rectangle-active);
  transition: background-color 400ms ease-in-out;
}

.rectangleEnter {
  composes: rectangle;
  background-color: var(--summary-background-color);
}

.rectangleExitActive {
  composes: rectangle;
  background-color: var(--summary-background-color);
  transition: background-color 400ms ease-in-out;
}

.rectangleExit {
  composes: rectangle;
  background-color: var(--report-bg-rectangle-active);
  border-radius: 20px;
}

.categoryIcon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.category {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02em;
  color: var(--balance-balance-text-color);
}

.reportNotify {
  margin: 30px 0;
  font-size: 14px;
  line-height: 1.45;
  color: var(--balance-balance-text-color);
  text-transform: none;
  text-align: center;
}

@media screen and (max-width: 354px) {
  .reportNotify {
    width: 225px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 390px) {
  .reportNotify {
    width: 311px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .categoryList {
    width: 623px;
    max-width: 623px;
    justify-content: center;
    border: none;
  }

  .categoryItem {
    width: max-content;
  }

  .categoryItem:not(:last-child) {
    margin-right: 30px;
  }

  .categoryItem:nth-child(3n + 3)::before {
    width: 0;
    height: 0;
  }
}
