.balance_line {
    background-color: var(--top-panel-background-color);
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0%;
    margin-top: 32px;
}
 .module {
    margin-top: 32px;
 }


.diagram{
    height: 442px;
}
.fon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--general-background-top-part-color);
    border-bottom-left-radius: 30%;
    width: 100%;
    height: 325px;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .fon {
        height: 583px;
    }
       
    .module {
            background-color: var(--top-panel-background-color);
            box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
            border-radius: 20px;
            padding-bottom: 20px;
            margin-top: 32px;
        }

    .img {
        width: 183px;
        height: 146px;
        position: absolute;
        top: 900px;
        right: 88px;
        background-image: url(../../images/two-kapustas-bg-min.png);
    }
}
@media screen and (min-width: 1280px) {
    
    .img {
        width: 100%;
        height: 232px;
        position: absolute;
        /* top: 656px; */
        bottom:0 ;
        left: 0;
        background-image: url(../../images/many-kapustas-bg-min.png);
        background-size: cover;
    }
}