.balance_line {
    background-color: #ffffff;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0%;
}

