.box {
  margin: 0 auto;
  background-color: var(--auth-form-background-color);
  max-width: 420px;

  padding: 40px 20px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
}

@media screen and (min-width: 400px) {
  .box {
    padding: 40px 60px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    max-width: 426px;
    width: 426px;
    padding: 56px 83px;
  }
}

.googleText {
  width: 200px;
  margin: 0 auto 16px;

  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--general-text-color);
}

@media screen and (min-width: 768px) {
  .googleText {
    width: 100%;
    margin-bottom: 20px;
  }
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  margin: 0 auto 32px;
  background: var(--auth-form-button-background-color);
  border: none;
  border-radius: 26px;
  filter: var(--auth-form-button-shadow);
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--general-header-color);
}

.googleSvg {
  margin-right: 10px;
}

.authText {
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: var(--general-text-color);
}

@media screen and (min-width: 768px) {
  .authText {
    margin-bottom: 20px;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  color: var(--general-header-color);
}

.labelStar {
  color: var(--auth-form-validation-error-color);
}

@media screen and (min-width: 768px) {
  .label {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 14px;
  }
}

.input {
  margin-top: 12px;
  padding: 20px;
  background: var(--auth-form-input-background-color);
  border: none;
  border-radius: 30px;

  font-size: 16px;
  color: var(--general-text-color);
}

.input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: var(--auth-form-input-placeholder-color);
}

.errorMsg {
  position: absolute;
  left: 0;
  bottom: -16px;

  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  color: var(--auth-form-validation-error-color);
}

.authBtnBox {
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
}

.btn {
  width: 116px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  filter: var(--auth-form-button-shadow);
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 122px;
  }
}

.loginBtn {
  composes: btn;
  background-image: linear-gradient(
    45deg,
    #fad1b7 0%,
    #ff751d 50%,
    #fb6102 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: 500ms;

  color: var(--general-accent-text-color);
}

.loginBtn:hover {
  background-position: 0 0;
}

.registerBtn {
  composes: btn;
  background-image: linear-gradient(
    45deg,
    #c9d1f9 0%,
    #f5f6fb 50%,
    #fefefe 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: 500ms;

  color: var(--general-text-color);
}

.registerBtn:hover {
  background-position: 0 0;
}
