@media screen and (max-width: 767px) {
  .navWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .navList {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navListItem {
    list-style: none;
    min-width: 159px;
    height: 53px;
    flex-grow: 1;
    background-color: var(--trans-dropdown-border-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
  .navListItem:not(:last-child) {
    margin-right: 2px;
  }
}

.link {
  text-decoration: none;
  color: var(--general-header-color);
}

@media screen and (min-width: 768px) {
  .navList {
    display: flex;
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }
  .navListItem {
    list-style: none;
    min-width: 159px;
    height: 53px;
    background-color: var(--trans-dropdown-border-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .navList {
    margin-top: 20px;
  }
}
