@media screen and (max-width: 767px) {
  .tableMobileWrap {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
    /* bottom: 70px; */
    /* z-index: 2; */
  }

  .loader {
    width: 320px;
  }
  .table {
    display: none;
  }

  .mobileTable {
    margin: 0 auto;
  }

  .tBody {
    display: block;
    overflow: auto;
    min-width: 310px;
    /* max-height: 150px; */
  }

  .tBody::-webkit-scrollbar {
    background-color: var(--modal-button-border-color);
    width: 6px;
  }
  .tBody::-webkit-scrollbar-thumb {
    background-color: var(--general-accent-background-color);
  }

  .description {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 80px;
    overflow: hidden;
    text-transform: capitalize;

    /* background-color: var(--general-background-bot-part-color); */
    color: var(--table-expense-text-color);
  }

  .descriptionMobile {
    text-align: start;
  }

  .descriptionExpense {
    composes: description;
    color: var(--table-expense-text-color);
    font-weight: 700;
    text-transform: lowercase;
  }

  .descriptionIncome {
    composes: description;
    color: var(--table-income-text-color);
    font-weight: 700;
    text-transform: lowercase;
  }

  .message {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    color: var(--balance-balance-text-color);
    opacity: 0.8;
    width: 280px;
  }

  .column {
    composes: description;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    /* background-color: var(--general-background-bot-part-color); */
    color: #52555f;
    max-width: 90px;
  }

  .date {
    margin-top: 3px;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.04em;
    text-align: start;
    color: #52555f;
  }

  .category {
    padding-left: 10px;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.04em;
    text-align: start;
    color: #52555f;
  }

  .tableRow {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    align-items: center;
    border-bottom: 2px solid var(--trans-dropdown-border-color);
    display: table;
    width: 100%;
    table-layout: fixed;

    color: #52555f;
  }

  .lastTD {
    width: 40px;
  }
  .btnDelete {
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .loader {
    width: 1089px;
  }

  .tableRowMobile {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    border-bottom: 2px solid var(--trans-dropdown-border-color);
    border-left: 2px solid var(--trans-dropdown-border-color);
    border-right: 2px solid var(--trans-dropdown-border-color);
    display: table;
    height: 150px;
    width: 100%;
    table-layout: fixed;
    color: #52555f;
  }

  .mobileTable {
    display: none;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
    flex-shrink: 1;
    table-layout: fixed;
    margin-bottom: 80px;
  }

  .tableBody::-webkit-scrollbar {
    background-color: var(--modal-button-border-color);
    width: 6px;
  }
  .tableBody::-webkit-scrollbar-thumb {
    background-color: var(--general-accent-background-color);
  }

  .tableBody {
    max-height: 345px;
    display: block;
    overflow-y: scroll;
    width: 100%;
  }

  .message {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    color: var(--balance-balance-text-color);
    opacity: 0.8;
    width: 500px;
  }

  .description {
    padding: 10px;
    background-color: var(--general-background-bot-part-color);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  .descriptionExpense {
    composes: description;
    color: var(--table-expense-text-color);
    font-weight: 700;
    text-transform: lowercase;
  }

  .descriptionIncome {
    composes: description;
    color: var(--table-income-text-color);
    font-weight: 700;
    text-transform: lowercase;
  }

  .descriptionLast {
    composes: description;
    width: 90px;
  }

  .tableTitle {
    height: 38px;
    background-color: var(--trans-dropdown-border-color);
    color: var(--general-header-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* text-align: center; */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
  }
  .tableRow {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    border-bottom: 2px solid var(--trans-dropdown-border-color);
    border-left: 2px solid var(--trans-dropdown-border-color);
    border-right: 2px solid var(--trans-dropdown-border-color);
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #52555f;
  }

  .lastTD {
    composes: tableTitle;
    width: 100px;
  }
  .btnDelete {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    width: 746px;
  }
}
