.container{
  
}
.Balance {
  padding-top: 40px;
}

.BalanceRevers {
  padding-top: 40px;
}

.linkToHome {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.currentPeriod {
  text-align: center;
}

.currentPeriodText {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--balance-text-color);
}

.monthChange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthChangeBtn {
  width: 10px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.monthChangeTxt {
  margin-left: 1px;
  margin-right: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.linkReports {
  display: flex;
  align-items: center;
  width: 84px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 5px;

  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--balance-text-color);
}

.reportsIcon {
  margin-left: 15px;
}

.form {
  text-align: center;
  /* width: 280px; */
  /* margin: 0 auto; */
}

.labelText {
  display: block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--balance-text-color);
}

.input {
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 16px;
}

.inputReports {
  display: block;
  margin: 0 auto;
  width: 183px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  border-radius: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 16px;
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.inputReports::placeholder {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.input::placeholder {
  padding-left: 20px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;

  color: var(--general-header-color);
}

.buttonForm {
  /* position: relative; */
  top: -1.5px;
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 22px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--balance-text-color);
}

/* .disabledButtonForm {
  composes: buttonForm;
}

.disabledButtonForm:hover,
.disabledButtonForm:focus {
  border-color: var(--general-header-color);
  background-color: transparent;
} */

.buttonForm:hover,
.buttonForm:focus {
  background-color: var(--general-accent-background-color);
  color: var(--balance-button-border-color);
  border-color: var(--general-accent-background-color);
  cursor: pointer;
}

.balanceTxt {
  display: block;
  width: 84px;
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--balance-text-color);
}

.balanceInfo {
  width: 183px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid var(--balance-button-border-color);
  border-radius: 22px;
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

@media screen and (max-width: 767px) {
  .input {
    border-radius: 22px 0px 0px 22px;
  }

  .buttonForm {
    position: relative;
    border-radius: 0px 22px 22px 0px;
  }

  .labelText {
    margin-bottom: 8;
  }

  .linkToHome {
    margin-bottom: 16px;
  }

  .linkToHomeText {
    display: none;
  }

  .currentPeriod {
    padding-bottom: 32px;
  }

  .form {
    width: 280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .Balance {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .BalanceRevers {
    display: flex;
    align-items: center;
  }

  .linkToHome {
    width: 100px;
    text-decoration: none;
    /* margin-right: 139px; */
    margin-right: 100px;
    padding-left: 6px;
  }

  .linkToHomeText {
    display: inline-block;
    width: 61px;
    margin-left: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(82, 85, 95, 0.7);
  }

  .linkReports {
    margin: 0;
  }

  .label {
    display: flex;
    align-items: center;
  }

  .labelText {
    margin-right: 21px;
    margin-bottom: 0;
  }

  .input {
    border-radius: 16px;
    margin-right: 15px;
    width: 125px;
  }

  .buttonForm {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .wraper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    /* margin-left: 139px; */
  }

  .balanceWraper {
    display: flex;
    align-items: center;
  }

  .inputReports {
    width: 125px;
  }

  .currentPeriod {
    width: 136px;
  }
}

@media screen and (min-width: 1280px) {
  .linkToHome {
    margin-right: 326px;
  }

  .form {
    margin-left: 382px;
  }

  .wraper {
    margin: 0;
    /* margin-left: 250px; */
  }
}
