.Balance {
  padding-top: 40px;
}

.BalanceRevers {
  padding-top: 40px;
}

.linkToHome {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.currentPeriod {
  text-align: center;
}

.currentPeriodText {
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--balance-text-color);
}

.monthChange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthChangeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.monthChangeTxt {
  margin-left: 1px;
  margin-right: 1px;
  width: 120px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.linkReports {
  display: flex;
  align-items: center;
  width: 84px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 5px;

  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--balance-text-color);
}

.linkReportsBtn {
  composes: linkReports;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reportsIcon {
  margin-left: 15px;
}

.form {
  text-align: center;
}

.labelText {
  display: block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--balance-text-color);
}

.input {
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.inputReports {
  display: block;
  margin: 0 auto;
  width: 183px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  border-radius: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 16px;
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.modalWraper {
  position: relative;
}

.currency {
  position: absolute;
  top: 15px;
  left: 88px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

.buttonForm {
  top: -1.5px;
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 22px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--balance-text-color);
}

.buttonFormDisabled {
  top: -1.5px;
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--balance-button-border-color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 22px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--balance-text-color);
}

.buttonForm:hover,
.buttonForm:focus {
  background-color: var(--general-accent-background-color);
  color: var(--balance-button-border-color);
  border-color: var(--general-accent-background-color);
  cursor: pointer;
}

.balanceTxt {
  display: block;
  width: 84px;
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--balance-text-color);
}

.balanceInfo {
  width: 183px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid var(--balance-button-border-color);
  border-radius: 22px;
  text-align: center;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--general-header-color);
}

@media screen and (max-width: 767px) {
  .transactionsWrap {
    margin-top: 120px;
  }

  .input {
    border-radius: 22px 0px 0px 22px;
  }

  .buttonForm {
    border-radius: 0px 22px 22px 0px;
  }

  .buttonFormDisabled {
    border-radius: 0px 22px 22px 0px;
  }

  .labelText {
    margin-bottom: 8;
  }

  .linkToHome {
    margin-bottom: 16px;
    margin-left: 20px;
  }

  .linkToHomeText {
    display: none;
  }

  .currentPeriod {
    padding-bottom: 32px;
  }

  .form {
    width: 280px;
    margin: 0 auto;
  }

  .currency {
    position: absolute;
    top: 15px;
    left: 107px;
  }
}

@media screen and (min-width: 768px) {
  .Balance {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .BalanceRevers {
    display: flex;
    align-items: center;
  }

  .linkToHome {
    width: 100px;
    text-decoration: none;
    margin-right: 100px;
    padding-left: 6px;
  }

  .linkToHomeText {
    display: inline-block;
    width: 81px;
    margin-left: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--balance-text-color);
  }

  .linkReports {
    margin: 0;
  }

  .label {
    display: flex;
    align-items: center;
  }

  .labelText {
    margin-right: 21px;
    margin-bottom: 0;
  }

  .input {
    border-radius: 16px;
    margin-right: 15px;
    width: 125px;
  }

  .buttonForm {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .buttonFormDisabled {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .wraper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .balanceWraper {
    display: flex;
    align-items: baseline;
  }

  .inputReports {
    width: 125px;
  }

  .currentPeriod {
    width: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .linkToHome {
    margin-right: 326px;
  }

  .form {
    margin-left: 382px;
  }

  .wraper {
    margin: 0;
  }
}
